.dk-key {
    background-color: black;
    border-block-style: solid;
    border-color: red;
    border-radius: 3px;
    border-width: 2px;
    color: red;
    font-family: Arial, serif;
    font-size: larger;
    height: 32px;
    margin: 2px;
    width: 32px;
}

.dk-key:focus {
    background: #3a3a3a;
    border-color: #ff7970;
    color: #ff7970;
}

.dk-key:active {
    background: red;
    border-color: black;
    color: black;
}

.dk-key-b {
    border-color: lightgreen;
    color: lightgreen;
}

.dk-key-b:focus {
    background: #3a3a3a;
    border-color: white;
    color: white;
}

.dk-key-b:active {
    background: lightgreen;
    border-color: black;
    color: black;
}
